<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LawyerApp.My.MySettings.Lawyer_mdbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Lawyer.mdb.accdb"
            providerName="System.Data.OleDb" />
        <add name="LawyerApp.My.MySettings.LawyerConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Lawyer.mdb"
            providerName="System.Data.OleDb" />
        <add name="LawyerApp.My.MySettings.Lawyer1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Lawyer1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>